# Copy this file and save it as .env in server

# Choose one DB URI:
# 1) Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
# 2) Local Mongo container (when using --profile localdb):
# MONGODB_URI=mongodb://mongo:27017/cosc360
MONGODB_URI=
PORT=4000
JWT_SECRET=change-me
