.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-panel {
  background-color: #f3f3f3;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 0.75rem;
}

.sidebar-panel h2 {
  margin: 0 0 0.5rem;
  font-size: 1.9rem;
}

.sidebar-panel h4 {
  font-weight: lighter;
  margin-top: -.2rem;
  margin-bottom: .5rem;
}

.sidebar-panel h4 a {
  color: darkgray;
  text-decoration: none;
}

.sidebar-panel h4 a:hover {
  color: lightslategray;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.1rem;
}

.sidebar ul li {
  padding: 0.2rem 0;
}

.sidebar ul li button {
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: medium;
}

.sidebar ul li button:hover {
  text-decoration: solid underline;
  cursor: pointer;
}