.card {
    max-width: 15%;
    background-color: #f3f3f3;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.card h3 {
    margin: 0 2%;
}

.card p {
    margin: 3%;
}

.card ul {
    margin: 0;
}

hr {
    width: 90%;
}

.card ul li {
    margin-left: -12%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0% 10%;
    list-style: none;
}

.card img {
    max-width: 100%;
    width: fit-content;
    max-height: 50%;
}